<h1 class="text-center">Meet the Team</h1>

<br />
<br />

<div class="booyah-box col-10 offset-1">
	<p>This awesome web application is brought to you by Sarah Humphreys.<br /> New to the world of coding and web development, she is excited to keep<br /> learning and create amazing content. She hopes to become a fullstack <br />developer this coming fall.</p> 
	<br />
	

	<div class="pic">
	<%= image_tag 'sarah2.jpg' %>
	</div>
</div>

